.message {

    color: #e6e3e3;;
    padding: 10px;
    font-weight: bold;

    text-transform: uppercase;
    width: 50%;
    text-align: center;
    background-color:#b33951; 
    animation: affichage 8s ;
}



@keyframes affichage {
    0% {
        opacity: 0;
    }
    
    60%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}