.container {
  display: grid;
  place-items: center;
  width: 440px;
  height: 400px;
  padding: 60px 0 60px;
  border-radius: 30px;
  background: #e6e3e3;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  cursor: pointer;
  /* gap: 30px */
}

@media screen and (max-width: 380px) {
  .container {
    width: 200px;
    height: 500px;
  }
}